@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%; /* Azul Marino Oscuro */
    --foreground: 0 0% 100%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 254 51% 51%; /* Morado (#624CAB) */
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 47% 16%;
    --muted-foreground: 222 47% 64%;
    --accent: 102 100% 50%; /* Verde Eléctrico (#7CFC00) */
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 222 47% 22%;
    --input: 222 47% 16%;
    --ring: 254 51% 51%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 222 47% 11%; /* Azul Marino Oscuro */
    --foreground: 0 0% 100%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 254 51% 51%; /* Morado (#624CAB) */
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 47% 16%;
    --muted-foreground: 222 47% 64%;
    --accent: 102 100% 50%; /* Verde Eléctrico (#7CFC00) */
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 222 47% 22%;
    --input: 222 47% 16%;
    --ring: 254 51% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    @apply text-foreground;
  }
}

.thumb-accent > div {
    background-color: hsl(var(--primary) / 0.6);
}

.thumb-accent:hover > div {
    background-color: hsl(var(--primary) / 1);
}
